body{
    background-color: rgb(239, 118, 239);
}

.main{
    width: 74%;
    height: 600px;
    margin-top: 7%;
    margin-left: 13%;
    margin-right: 13%;
    border-radius: 50px;
    border: 5px solid lightgreen;
    background-color: whitesmoke;
}

.image img{
    margin-left: 31%;
    margin-top: 10%;
    border: 5px solid lightgreen;
    border-radius: 20px;
}



.main h2{
    font-family:cursive;
    margin-left: 30%;
}

.left{
    margin-top: -600px;
    width: 12%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-content: end;
}

.left img{
    margin-top: 300%;
    animation: move 3s ease-in;
}

.right{
    margin-top: -800px;
    margin-left: 88%;
    width: 12%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-content: end;
}

.right img{
    margin-top: 300%;
    animation: move 3s ease-in;
}

#celeb{
    animation: mv 3s ease-in;
}

@keyframes mv {
    from{
        transform: translateX(-200px);
    }
    to{
        transform: translateX(0);
    }
}

#txt{
    animation: mv1 3s ease-in;
}

@keyframes mv1 {
    from{
        transform: translateX(200px);
    }
    to{
        transform: translateX(30px);
    }
}

.left img{
    animation-delay: 0.2s;
}

.right img{
    animation-delay: 0.2s;
}

@keyframes move {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-500px);
    }
  }
